
/*display property  discussion*/

#div-1 {
		background-color: green;
		display:inline;
	}

#span-1 {
		background-color: purple;
		width: 200px;
		height: 200px;
		display: none;
	}

#span-2 {
		background-color: red;
		display:block;

	}

#div-2 { 

		background-color: hotpink;
		display:none;
	}

#img {
		display: inline-block;
		width: 250px;
		height: 250px;
}

#p-1 {
		background-color: #87cefa;
}

#p-2 {
		background-color: rgb(255,105,180);
		width: 60%;
}

#p-3 {
		background-color: yellow;
		width: 40%;

}

.sample {
		display: inline-block;
		width: 30%;
		border: 1px solid black;
		text-align: center;
}


/*float property*/


.img-float {
		width: 250px;
		height: 250px;
		float: none;

}

/*CSS Units*/

.parent {
	width: 135px;
	border: 2px solid navy;
/*	font-size: 50px;*/
}


/*Targets class="box"*/
.box {
		background-color: lightblue;
		border: 1px solid black;
		margin: 5px;
}

/*Targets class=fifty percent*/
.fifty-percent {
	width: 50%;

}

/**/
.one-hundred-pixels {
	width: 100px;
}

.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	height: 50vh;
}

.one-rem {
	font-size: 1rem;
}
.one-em {
	font-size: 1em;

}
.two-rem {
	font-size: 2rem;
}
.two-em {
	font-size: 2em;
}

.two-hundred-percent {
	font-size: 200%;
}

.background {
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
	background-attachment: scroll;
}


/*CSS positioning*/
.parent-element {
	background-color: skyblue;
	padding: 50px 10px;
	position: relative;
	height: 800px;
}

.child-one {
	background-color: gray;
	padding: 10px;
}
.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
	bottom: 10px;
}

.child-three {
	background-color: gray;
	padding: 10px;
}

html {
	height: 800vh;
}


/*z-index*/
.container {

		position: relative;
}

.black-box {
		position: relative;
		z-index: 1;
		border: 2px solid black;
		height: 100px;
		margin: 30px;
}
.gray-box {
	position: absolute;
	z-index: 3;
	background-color: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box {
	position: absolute;
	z-index: 2;
	background-color: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 150px;
}