/*css reset*/


* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

html {
	height: 100vh;
}
body {
	font-family: "open sans", sans-serif;
}

nav, li {
	
	display: inline-block;
	position: sticky;
	top: 0px;
	max-height: 30px;
	word-spacing: 10px;

	
}
nav {
width: 100%;
clear: both;
display: inline-block;
background: white;
padding-left: 50px;
margin-top: 30px;
padding-right: 50px;
min-height: 40px;}



#logo {
	display: inline-block;
	float: left;
	
}

.right-nav { 
	
	float: right;
	font-weight: 600;
	
	 }




 .tuitt-button { 
 				
 				color:white;
				background:#c2195b;
				border-color: transparent;
				border-width: .7rem;
				border-radius: 1rem;
				margin-top: -2rem;
				font-weight: 600;
				}



.front-bg {
	margin-top: 60px;
    background-image: url("pic.jpg");
	min-height: 60vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	background-attachment: scroll;
	background-color: gray;
	background-blend-mode: multiply;
	}


.container {
		color: white;
		
		padding-top: 2rem;
		padding-bottom: 3rem;
		text-align: right;
		display: inline-block;
		max-width: 960px;
   		margin: 0 auto;
  		float: right;
   		
	}

.title { 
				display: inline-block;
				font-family: Times New Roman;
				font-size: 300%;
				width: 60%;
				margin-right: 10%;
				}


.subtitle {
				font-weight: 200;
				font-size: 120%;
				display: inline-block;
				width: 40%;
				text-align: right;
				margin-right: 10%;
}

.apply-button {
				
				display: inline-block;
				color:white;
				background:#c2195b;
				background-size: 1.2rem;
				border-color: transparent;
				border-width: 50px;
				font-weight: 600;
				border:0;
   				border-top-left-radius: 25px;
    			border-top-right-radius: 25px;
    			border-bottom-left-radius: 25px;
    			border-bottom-right-radius: 25px;
    			min-height: 40px;
    			width: 15%;
    			margin-right: 10%;
    			margin-top: 10px;

    			
}




.intro {
	margin-top: 5rem;
	
}

.title-2 {
	
	font-family: Times New Roman;
	font-size: 2rem;
	text-align: center;
	float: center;

}
.intro-description {
	
	margin-top: 50px;
	text-align: center;
	width: 55%;
	float: center;
	margin-left: 22%;
	font-size: 80%;
}

.title-3{
		font-family: Times New Roman;
		margin-top: 50px;
		font-size: 2rem;
		text-align: center;
		float: center;

}

.prefooter-description {
		margin-top: 50px;
		text-align: center;
		width: 55%;
		float: center;
		margin-left: 22%;
		font-size: 80%;
}

.book-button {
				display: inline-block;
				color:white;
				background:#336589;
				background-size: 1.2rem;
				border-color: transparent;
				border-width: 50px;
				font-weight: 600;
				border:0;
   				border-top-left-radius: 25px;
    			border-top-right-radius: 25px;
    			border-bottom-left-radius: 25px;
    			border-bottom-right-radius: 25px;
    			min-height: 40px;
    			width: 10%;
    			margin-left: 45%;
    			margin-top: 30px;
    		}
 
.pre-footer {
	background: #f7fbfb;
}



footer 	{
			text-align: center;
			float: center;
		
			font-size: 80%;
			padding-top: 50px;
}














